<?xml version="1.0"?>
<configuration>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="AmChartsComponent" enabled="true" object="oWebResourceManagerProxy" verbs="GET,POST" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="AmChartsComponent" enabled="true" object="oWebServiceDispatcher" verbs="GET,POST" errortype="1"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
